<div class="btn-create">
  <button mat-raised-button color="primary" (click)="openDialog()" > 
    <mat-icon>add_circle</mat-icon> Créer un nouvel employé</button>
</div>
<!-- Main -->
<section id="main" class="wrapper">
  <div class="inner">
    <div class="content">
      <div id="row">
          <div class="col-12-small">
            <mat-form-field>
              <mat-label>Filter</mat-label>
              <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
            </mat-form-field>

            <table mat-table #table [dataSource]="dataSource" [fixedLayout]="true"> 
              <ng-container matColumnDef="rn">
                <th mat-header-cell *matHeaderCellDef> N° </th>
                <td mat-cell *matCellDef="let row"> {{row.rn}} </td>
              </ng-container>
              <ng-container matColumnDef="empno">
                <th mat-header-cell *matHeaderCellDef> empno </th>
                <td mat-cell *matCellDef="let row"> {{row.empno}} </td>
              </ng-container>
              <ng-container matColumnDef="ename">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let row"> {{row.ename}} </td>
              </ng-container>
              <ng-container matColumnDef="hiredate">
                <th mat-header-cell *matHeaderCellDef> hiredate </th>
                <td mat-cell *matCellDef="let row"> {{row.hiredate | date:"dd/MM/yyyy"}} </td>
              </ng-container>
              <ng-container matColumnDef="job">
                <th mat-header-cell *matHeaderCellDef> job </th>
                <td mat-cell *matCellDef="let row"> {{row.job}} </td>
              </ng-container>
              <ng-container matColumnDef="mgr">
                <th mat-header-cell *matHeaderCellDef> mgr </th>
                <td mat-cell *matCellDef="let row"> {{row.mgr}} </td>
              </ng-container>
              <ng-container matColumnDef="sal">
                <th mat-header-cell *matHeaderCellDef> sal </th>
                <td mat-cell *matCellDef="let row"> {{row.sal}} </td>
              </ng-container>
              <ng-container matColumnDef="comm">
                <th mat-header-cell *matHeaderCellDef> comm </th>
                <td mat-cell *matCellDef="let row"> {{row.comm}} </td>
              </ng-container>
              <!-- Action Column -->
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let row"><button mat-raised-button color="primary" (click)="openBottomSheet(row.rn)"><span class="material-icons">
                  remove_red_eye
                  </span></button></td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="['rn', 'empno', 'ename', 'hiredate', 'job', 'mgr','sal', 'comm', 'action']"></tr>
              <tr mat-row *matRowDef="let row; columns: ['rn', 'empno', 'ename', 'hiredate', 'job', 'mgr','sal', 'comm','action'];"></tr>
            </table>
          </div>
      </div>
    </div>
  </div>
</section>
