<mat-drawer-container class="example-container" autosize autoFocus=true>
  <mat-drawer #drawer class="example-sidenav"  mode="side" position="start" [opened]="true">
    <mat-nav-list *ngFor="let menu of menu">
      <mat-list-item [routerLink]="[ menu.lien ]">
        <mat-icon matListIcon>{{menu.icon}}</mat-icon>
        <h3 matLine>{{menu.name}}</h3>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <div class="example-sidenav-content-bg">
  <div class="example-sidenav-content">
    <mat-icon (click)="drawer.toggle()" style="color:red">compare_arrows</mat-icon>
    <br>
    <div>
      <app-content-body></app-content-body>
    </div>
  </div>
</div>
</mat-drawer-container>
