<mat-nav-list>
    <a mat-list-item >
      <span mat-line>ID :</span>
      <span>{{data.rn}}</span>
    </a>
    <mat-divider></mat-divider>
    <a mat-list-item >
      <span mat-line>Nom :</span>
      <span>{{data.ename}}</span>
    </a>
    <mat-divider></mat-divider>
    <a mat-list-item >
        <span mat-line>Date de naissance :</span>
        <span>{{data.hiredate}}</span>
      </a>
    <mat-divider></mat-divider>
      <a mat-list-item >
        <span mat-line>Numero :</span>
        <span>{{data.ename}}</span>
      </a>
  </mat-nav-list>